<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geotracer.geotracer">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.LOGS" />
    <application
        android:name=".UserStatus"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeotracerApp">

        <service
            android:name=".db.local.KeyValueManagement"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".notifications.NotificationSender"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".db.remote.FirestoreManagement"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".testingapp.LogService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".UsageTestActivity"/>
        <activity android:name=".infoapp.InfoActivity" />
        <activity android:name=".settingapp.SettingActivity" />
        <activity android:name=".testingapp.TestingActivity" />
        <activity android:name=".mainapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>